.email {
    background: #fff;
    padding: 1.5em;
    cursor: pointer;
    border-radius: 8px;
  }

  .email-active {
    background-color: rgb(0 0 0 / 7%);
  }

  .email:hover {
    background-color: rgb(0 0 0 / 7%);
    border-radius: 8px;
  }
  
  .email:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }
  
  .email h2 {
    font-size: 1rem;
    padding-bottom: 0.25rem;
    text-align: start;
  }
  
  .email p {
    color: #888;
    text-align: start;
    font-size: .9rem;
    margin-bottom: 0;
  }

  .email .icon {
    height: 3rem;
    width: 3rem;
    background-color: #002054;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .email .icon label {
    color: #fff;
    margin-top: 21%;
  }